<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, user-scalable=no" />
    <title>Qr Sync</title>
    <link rel="stylesheet" href="/static/bootstrap.min.css" />
    <style>
      body {
        margin: 10px;
      }
    </style>
  </head>

  <body>
    <div class="container">
      <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading">Woopsie, something went terribly wrong!</h4>
        <p>
          Error during request:

          ###ERRORMESSAGE###
        </p>
      </div>
    </div>
  </body>
</html>
